@use '../../../../styles/variables.scss' as vb;

nav ul{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 0;
}

.nav__el {
    list-style: none;
    font-size: 20px;
    text-decoration: none;
    color:inherit;
    padding: 0px 10px 10px;
    transition: color 0.1s ease-in-out;

    &:hover {
        color: vb.$text-color-secondary;
        
    }
}



