@use './variables.scss' as variable;
@import url('./reset.scss');
@import url('./fonts.scss');
@import url('../components/header/header.scss');
@import url('../components/main/main.scss');
@import url('../components/main/news/news.scss');
@import url('../components/footer/footer.scss');
@import url('../components/ErrorPage/ErrorPage.scss');
@import url('../components/StudentsPage/StudentsPage.scss');
@import url('../components/StudentsPage/StudentCard/StudentCard.scss');
@import url('../components/HeaderBottom/HeaderBottom.scss');
@import url('../components/PersonPage/PersonPage.scss');
@import url('../components/PersonPage/ActivityCard/ActivityCard.scss');
@import url('../components/AuthPage/AuthPage.scss');
@import url('../components/EventsPage/EventsPage.scss');
@import url('../components/EventsPage/EventCard/EventCard.scss');
@import url('../components/ProjectsPage/ProjectCard/ProjectCard.scss');
@import url('../components/AuthPage/AuthForm/AuthForm.scss');

html {
  font-family: variable.$font-primary;
  background-color: variable.$background-color;
  color: variable.$text-color-primary;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
