@use '../../styles/variables.scss' as vb;


.person-page {
    margin: 50px 82px 100px;
    display: flex;
    gap:100px;
    display: flex;

    &__left {
        display: flex;
        flex-direction: column;
    }
    
    &__right {
        position: relative;
        max-height: 60vh;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        display: flex;
        flex-direction: column;
        
        &::-webkit-scrollbar {
            width: 8px; /* Ширина вертикального скроллбара */
        }

        &::-webkit-scrollbar-track {
            background: #343333; /* Цвет ползунка */
            
        }

        &::-webkit-scrollbar-thumb {
            background: #e1e1e1; /* Цвет фона полосы прокрутки */
        }
    }
    
    .left {

        &__photo {
            background-color: vb.$background-color-secondary;
            border-radius: 50%;
            display: flex;
            width: 240px;
            height: 240px;
            justify-content: center;
            align-items: center;
        }

        &__img {
            width: 80%;
            -webkit-user-drag: none;
            user-select: none;
        }

        &__name{
            max-width: 400px;
            font-size: 32px;
            font-weight: 600;
            margin: 20px 0px;
        }
        &__workplace {
            max-width: 280px;
        }
        &__type, &__workplace {
            font-size: 22px;
            margin: 10px 0px;
        }
    }
    .right {
        &__activities {
            font-size: 32px;
            font-weight: 500;
            margin-bottom: 30px;
        }
        &__activities:not(:first-of-type) {
            margin-top: 20px;
        }
        &__desc {
            font-size: 22px;
        }
        &__activities-list {
            margin-left: 50px;
            width: 100%;
            gap: 25px;
            display: flex;
            margin-top: 0;
            margin-bottom: 0;
            flex-wrap: wrap;
        }

        &__members {
            margin-top: 30px;
            width: 100%;

            .members {
                &-heading {
                    font-size: 32px;
                    font-weight: 500;
                    margin-bottom: 30px;
                }
            }
           
            .people-list {
                display: flex;
                font-size: 20px;
                width: 100%;

                &__members {
                    padding-left: 20px;
                    border-left: 2px solid #343333;
                }
                
                &__organizers {
                    padding-right: 20px;
                    border-right: 2px solid #343333;
                }

                .organizers-list {
                    display: flex;
                    gap: 10px;
                    margin-bottom: 10px;
                    overflow-x: auto;
                    height: fit-content;
                    max-width: 300px;
                    padding-bottom: 6px;

                    &::-webkit-scrollbar {
                        width: 8px; /* Ширина вертикального скроллбара */
                        height: 4px;
                    }
            
                    &::-webkit-scrollbar-track {
                        background: #343333; /* Цвет ползунка */

                    }
            
                    &::-webkit-scrollbar-thumb {
                        background: #e1e1e1; /* Цвет фона полосы прокрутки */
                }}

                .members-list {
                    display: flex;
                    gap: 10px;
                    margin-bottom: 10px;
                    overflow-x: auto;
                    height: fit-content;
                    max-width: 500px;
                    padding-bottom: 6px;

                    &::-webkit-scrollbar {
                        width: 8px; /* Ширина вертикального скроллбара */
                        height: 4px;
                    }
            
                    &::-webkit-scrollbar-track {
                        background: #343333; /* Цвет ползунка */
                        
                    }
            
                    &::-webkit-scrollbar-thumb {
                        background: #e1e1e1; /* Цвет фона полосы прокрутки */}

                }
            }
        }
    }
    
   
}
