@use '../../../styles/variables.scss' as vb;

.student-card {
    box-sizing: border-box;
    max-width: 100%;
    display: flex;
    font-size: 20px;
    padding: 10px 0px;
    padding-left: 30px;

    margin: 10px 0px;
    gap: 20px;
    border-bottom: 2px solid vb.$background-color-secondary;

    &__left {
        background-color: vb.$background-color-secondary;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        .left__photo {
            margin: 30px 30px;
            scale: 1.2;
        }
    }

    & a {
        color: #e1e1e1;
        text-decoration: none;
        transition: color .1s ease-in-out;
    }

    & a:hover {
        color: vb.$color-secondary ;
        text-decoration: underline;
    }

    .main {
        &__name {
            font-size: 22px;
            font-weight: 600;
        }

        &__workplace {
            margin: 1rem 0;
        }

        &__achievements {
            display: flex;
            margin: 0;
            gap: 14px;
        }
    }





}