@use '../../../../styles/variables.scss' as variable;

.login__button {
    box-sizing: border-box;
    padding: 10px 10px;
    border-radius: 123456px;
    display: flex;
justify-content: center;
align-items: center;
    backdrop-filter: blur(2px);
    background: variable.$color-secondary;
    font-weight: 700;
    font-size: 20px;
    color: variable.$text-color-third;
    border: none;
    border: 2px solid #72c007;
    transition: all .1s ease;

    &__svg {
        height: 40px;
    }
}


.login__button:hover {
    cursor: pointer;
    color: #72c007;
    box-shadow: black 4px 4px 4px;

    
}


